/10.md - Grip.pdf
/11.md - Grip.pdf
/8.pdf
/9.pdf
*.jpg
*.jpeg
*.png
*.zip
*.html
*extracted_words.txt
research-charnet-master/datasets/*
.idea/*
*.pyc
*.pickle
/charnet/weights/*.pth
/cmake*
/opencv*
/Adobe Premiere Pro *
*.m4v
*.mp4
*.mkv
*.f4v
*.flv
*.avi
*.mp3
*prproj
*.wav
